.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    &--light {
        color: $color-light;
    }

    &--dark {
        color: $color-dark;
    }
}